.coverage
.env
.git
.gitignore
.idea
.pytest_cache
.ruff_cache
.venv
.vscode
__pycache__
coverage
docs
htmlcov
node_modules
tmp
Dockerfile
docker-compose.yml
*.a
*.egg-info
*.o
*.out
*.log
*.pyc
*.pyo
